// * ********************************************************************************************************* *
// *
// * Copyright 2019-2020 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../sourceFilesMap";

.#{$IoOidisWebNamespace} {
  .BodyPanel {
    background-color: $IO_OIDIS_WEB_WHITE;
    color: $IO_OIDIS_WEB_BLACK;
    min-height: 500px;
    position: relative;

    h1 {
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      width: 80%;
    }

    a {
      color: $IO_OIDIS_WEB_BLACK;
    }

    .Topic {
      clear: both;
      font-size: 20pt;
      padding: 50px;
      text-align: justify;

      h2 {
        font-size: 25pt;
        text-shadow: $IO_OIDIS_WEB_GRAY 3px 3px 10px;
      }

      h3 {
        font-size: 24pt;
        font-weight: bold;
        letter-spacing: 1.5px;
        padding-bottom: 10px;
        position: relative;
        top: -10px;
      }

      .Product {
        float: left;
        padding: 2%;
        position: relative;
        width: 45%;

        .Type {
          clear: both;
          height: 80px;
          overflow: hidden;
          width: 100%;
        }

        .Icon {
          float: left;
          height: 100px;
          position: absolute;
          top: 0;
          width: 100px;
        }

        h3 {
          left: 135px;
          margin: 0;
          position: absolute;
          top: 20px;
        }

        p {
          clear: both;
          width: 100%;
        }

        .Web {
          background: $IO_OIDIS_WEB_GUI_ICON_WEB;
        }

        .App {
          background: $IO_OIDIS_WEB_GUI_ICON_APP;
        }

        .Automation {
          background: $IO_OIDIS_WEB_GUI_ICON_AUTO;
          margin-left: 10px;
        }

        .Hosting {
          background: $IO_OIDIS_WEB_GUI_ICON_HOSTING;
          position: relative;
          top: -10px;
        }

        .Help {
          background: $IO_OIDIS_WEB_GUI_ICON_HELP;
          margin-left: 10px;
        }

        .Outsourcing {
          background: $IO_OIDIS_WEB_GUI_ICON_OUTSOURCING;
        }

        .Process {
          background: $IO_OIDIS_WEB_GUI_ICON_PROCESS;
        }

        .Lecture {
          background: $IO_OIDIS_WEB_GUI_ICON_LECTURE;
        }

        .Test {
          background: $IO_OIDIS_WEB_GUI_ICON_TEST;
        }

        .Security {
          background: $IO_OIDIS_WEB_GUI_ICON_SECURITY;
        }
      }

      .EndOfTopic {
        clear: both;
        float: none;
        width: 93%;
      }
    }

    .Intro {
      background-color: $IO_OIDIS_WEB_GRAY_LIGHT;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    .All,
    .About {
      border-left: 10px solid $IO_OIDIS_WEB_PURPLE_LIGHT;
      border-right: 10px solid transparent;
    }

    .Business {
      background-color: $IO_OIDIS_WEB_GRAY_LIGHT;
      border-left: 10px solid transparent;
      border-right: 10px solid $IO_OIDIS_WEB_PURPLE_LIGHT;
    }

    .Intro,
    .About,
    .SEO {
      p {
        margin-left: 0;
        margin-right: 0;
        padding-left: 2%;
        padding-right: 2%;
        width: 94%;
      }
    }

    .SEO {
      border-left: 10px solid $IO_OIDIS_WEB_BLUE;
      border-right: 10px solid transparent;

      .Mediatel {
        background: url($IO_OIDIS_WEB_GUI_MEDIATEL) no-repeat center center;
        background-size: 100%;
        height: 150px;
        margin: 25px auto;
        width: 50%;
      }

      .Form {
        clear: both;
        margin: auto;
        padding-top: 15px;
        position: relative;
        width: 90%;
        z-index: 0;

        .Item {
          float: left;
          margin-bottom: 12px;
          position: relative;
          width: 33.3%;

          .Description {
            font-size: 16pt;
            left: 20px;
            position: absolute;
            top: 7px;
            transition: 300ms;
          }

          &:hover {
            .Description {
              top: -20px;
            }
          }

          input {
            background-color: $IO_OIDIS_WEB_WHITE;
            border: 1px solid $IO_OIDIS_WEB_PURPLE_LIGHT;
            border-radius: 5px;
            font-family: "GalanoGrotesque", sans-serif;
            font-weight: normal;
            margin: 10px;
            padding: 10px;
            position: relative;
            width: 90%;
            z-index: 1;
          }

          ::placeholder {
            color: $IO_OIDIS_WEB_GRAY_2;
          }

          :focus {
            border-color: $IO_OIDIS_WEB_PINK;
          }

          .Error {
            border-color: $IO_OIDIS_WEB_RED;
          }
        }

        .Active .Description {
          top: -20px;
        }

        .Spacer {
          clear: both;
        }

        .Button {
          background-color: $IO_OIDIS_WEB_PURPLE_LIGHT_07;
          border: 1px solid $IO_OIDIS_WEB_PURPLE_LIGHT;
          border-radius: 10px;
          color: $IO_OIDIS_WEB_WHITE;
          display: block;
          font-size: 18pt;
          margin: 20px auto auto;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          transition: 200ms;
          width: 300px;

          &:hover {
            background-color: $IO_OIDIS_WEB_PURPLE_LIGHT_05;
          }

          &:focus {
            background-color: $IO_OIDIS_WEB_PURPLE_LIGHT_05;
            border-color: $IO_OIDIS_WEB_PINK;
            outline: none;
          }
        }
      }
    }

    @media screen and (max-width: 1000px) {
      .SEO {
        .Mediatel {
          width: 80%;
        }

        .Form {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 920px) {
      .Topic {
        h3 {
          font-size: 23pt;
        }

        .Product .Type {
          h3 {
            left: 115px;
            top: 0;
          }
        }
      }
    }

    @media screen and (max-width: 800px) {
      .Topic .Product {
        padding: 0;
        width: 100%;
      }

      .SEO {
        .Mediatel {
          width: 100%;
        }

        .Form {
          width: 100%;

          .Item {
            float: none;
            left: -4px;
            width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      .Topic {
        padding: 10px 10px 10px 25px;

        h2 {
          font-size: 20pt;
          text-align: center;
        }

        h3 {
          font-size: 19pt;
        }

        .Product .Type {
          height: auto;

          .Icon {
            // sass-lint:disable-block no-important
            display: block;
            float: none;
            left: 10px;
            margin: auto !important;
            position: relative;
          }

          h3 {
            clear: both;
            left: 0;
            margin: 0;
            position: relative;
            text-align: center;
            top: 0;
          }
        }
      }

      .Business {
        padding: 10px 25px 10px 10px;
      }
    }

    @media screen and (max-width: 400px) {
      h1 {
        font-size: 17pt;
      }

      .SEO .Form .Button {
        font-size: 14pt;
        width: 90%;
      }
    }
  }
}
