// * ********************************************************************************************************* *
// *
// * Copyright 2019-2020 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../sourceFilesMap";

.#{$IoOidisWebNamespace} {
  .FooterPanel {
    height: 700px;
    overflow: hidden;
    position: relative;

    .Topic {
      font-family: "GalanoGrotesqueBold", sans-serif;

      h2 {
        color: $IO_OIDIS_WEB_WHITE;
        font-size: 35pt;
        padding-left: 60px;

        .Highlight {
          color: $IO_OIDIS_WEB_PURPLE_LIGHT;
        }
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .Contact {
        font-family: "GalanoGrotesque", sans-serif;
        height: 200px;
        padding-left: 80px;
        width: 100%;

        .Item {
          clear: both;
          height: 40px;
        }

        .Icon {
          background: $IO_OIDIS_WEB_WHITE;
          float: left;
          height: 40px;
          margin-right: 25px;
          margin-top: 9px;
          width: 40px;
        }

        .Text {
          float: left;
          padding-top: 17px;
        }

        .Mail .Icon {
          background: url($IO_OIDIS_WEB_GUI_MAIL) no-repeat;
          background-size: 100%;
        }

        .Phone .Icon {
          background: url($IO_OIDIS_WEB_GUI_PHONE) no-repeat;
          background-size: 100%;
        }

        .INumber .Icon {
          background: url($IO_OIDIS_WEB_GUI_INUMBER) no-repeat;
          background-size: 100%;
        }

        .Location .Icon {
          background: url($IO_OIDIS_WEB_GUI_LOCATION) no-repeat;
          background-size: 100%;
          margin-top: 17px;
        }
      }

      .Follow {
        font-size: 15pt;
        height: 170px;
        padding-left: 80px;
        padding-top: 30px;
      }

      .QRCode {
        @include setOpacity(50);
        background: url($IO_OIDIS_WEB_GUI_QRCODE) no-repeat center;
        background-size: 100%;
        height: 300px;
        position: absolute;
        right: 120px;
        top: 150px;
        width: 300px;
      }
    }

    .Background {
      background: url($IO_OIDIS_WEB_GUI_FOOTER_BACKGROUND) no-repeat;
      background-size: 100%;
      height: 915px;
      opacity: .2;
      position: absolute;
      right: -550px;
      top: -100px;
      width: 1490px;
      z-index: -1;
    }

    .Copyright {
      color: $IO_OIDIS_WEB_GRAY_DARK;
      height: 300px;
      padding-top: 125px;

      .Text {
        position: relative;
        text-align: center;
        top: 100px;
        width: 100%;
      }

      .Box {
        background: $IO_OIDIS_WEB_WHITE;
        bottom: 0;
        height: 150px;
        opacity: .05;
        position: absolute;
        width: 100%;
      }
    }

    @media screen and (max-width: 730px) {
      height: auto;

      .Topic {
        h2 {
          font-size: 30pt;
          padding-left: 0;
          text-align: center;
          width: 100%;
        }

        .Contact {
          margin: auto auto 60px;
          padding-left: 0;
          width: 200px;
        }

        .QRCode {
          margin: auto auto 100px;
          position: relative;
          right: 0;
          top: 0;
        }
      }

      .Copyright {
        height: auto;
        padding-top: 70px;

        .Text {
          top: -85px;
        }
      }
    }

    @media screen and (max-width: 325px) {
      .Topic .QRCode {
        background-size: 80%;
        width: 100%;
      }
    }
  }
}
