// * ********************************************************************************************************* *
// *
// * Copyright 2019-2020 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../sourceFilesMap";

.#{$IoOidisWebNamespace} {
  .HeaderPanel {
    @include cover();
    background: url($IO_OIDIS_WEB_GUI_BACKGROUND) no-repeat center center fixed;
    box-shadow: $IO_OIDIS_WEB_GRAY_DARK 0 0 10px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    .Menu {
      background-color: $IO_OIDIS_WEB_BLACK_01;
      border: 1px solid $IO_OIDIS_WEB_WHITE_05;
      color: $IO_OIDIS_WEB_WHITE;
      font-size: 15pt;
      height: 100px;
      left: 5%;
      overflow: hidden;
      position: absolute;
      top: 50px;
      transition: .4s;
      width: 90%;
      z-index: 2;

      a {
        margin-left: 30px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .Left,
      .Right {
        padding: 37px;
      }

      .Left {
        float: left;
        left: 0;
        position: relative;
        transition: 500ms;

        a {
          margin-left: 0;
          margin-right: 30px;
        }

        .Logo {
          background: url($IO_OIDIS_WEB_GUI_LOGO_SMALL) no-repeat center;
          background-size: 100%;
          cursor: pointer;
          display: none;
          float: left;
          height: 50px;
          margin-right: 30px;
          top: -13px;
          width: 50px;
        }
      }

      .Right {
        float: right;
        text-align: right;
      }
    }

    .Scroll {
      background-color: $IO_OIDIS_WEB_BLACK_09;
      border-bottom-width: 1px;
      border-width: 0;
      left: 0;
      position: fixed;
      top: 0;
      transition: .4s;
      width: 100%;

      .Left {
        left: 10px;
        padding-left: 0;

        .Logo {
          display: block;
        }
      }
    }

    .Top {
      background-color: $IO_OIDIS_WEB_BLACK_03;

      .Left {
        left: 0;
        padding-left: 37px;

        .Logo {
          display: none;
        }
      }
    }

    .Logo {
      background: url($IO_OIDIS_WEB_GUI_LOGO) no-repeat center;
      height: 226px;
      position: relative;
      top: 30%;
      width: 100%;
      z-index: 1;
    }

    .Slogan {
      bottom: 20%;
      font-size: 20pt;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 1;
    }

    .Button {
      border: 1px solid $IO_OIDIS_WEB_WHITE;
      border-radius: 10px;
      cursor: pointer;
      font-size: 18pt;
      height: 50px;
      line-height: 48px;
      margin: auto;
      overflow: hidden;
      padding: 12px;
      position: relative;
      text-align: center;
      top: 60%;
      transition: 1s;
      width: 250px;
      z-index: 1;

      &:hover {
        background-color: $IO_OIDIS_WEB_WHITE_02;
      }
    }

    .Anime {
      display: none;
      height: 50%;
      position: relative;
      top: 30%;
      width: 100%;

      div {
        animation: bubbleDrop 5s cubic-bezier(0, .5, .5, 0) infinite;
        background-color: $IO_OIDIS_WEB_WHITE_00;
        border: 1px solid $IO_OIDIS_WEB_BLACK_01;
        border-radius: 100%;
        bottom: 0;
        display: block;
        float: left;
        position: absolute;
        transition-duration: 5s;
        transition-property: left;
        transition-timing-function: ease-out;

        @for $i from 2 through 100 {
          &:nth-child(#{$i}) {
            $left: random(95)*1%;
            $size: random(50);
            animation-delay: -(random(10000))+ms;
            height: $size + px;
            left: #{$left};
            width: $size + px;

            &:hover {
              left: calc(#{$left} - 300px);
            }
          }
        }
      }

      @keyframes bubbleDrop {
        0% {
          background-color: $IO_OIDIS_WEB_WHITE_01;
          bottom: 0;
        }

        100% {
          bottom: 100%;
        }
      }
    }

    @media screen and (max-width: 880px) {
      .Menu {
        font-size: 12pt;

        .Left,
        .Right {
          padding: 39px;
        }
      }
    }

    @media screen and (max-width: 800px) {
      .Menu {
        .Left,
        .Right {
          padding: 41px 17px;
        }
      }

      .Logo {
        background-size: 85%;
      }
    }

    @media screen and (max-width: 680px) {
      .Menu {
        font-size: 13pt;

        .Left,
        .Right {
          float: none;
          padding: 17px 0;
          text-align: center;
        }

        .Left .Logo {
          left: 4px;
          margin-right: 0;
          top: 8px;
        }

        .Right {
          padding-top: 0;

          a {
            margin-left: 15px;
            margin-right: 15px;
          }
        }
      }

      .Slogan {
        font-size: 17pt;
      }
    }

    @media screen and (max-width: 400px) {
      .Top .Left a {
        margin-right: 30px;
      }

      .Scroll {
        .Left,
        .Right {
          a {
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }

      .Slogan {
        font-size: 16pt;
      }
    }

    @media screen and (max-width: 350px) {
      .Menu {
        font-size: 11pt;
      }

      .Button {
        width: 78%;
      }
    }

    @media screen and (max-width: 300px) {
      .Menu {
        height: 162px;

        .Left,
        .Right {
          a,
          span {
            display: table;
            margin: 0;
            text-align: center;
            width: 100%;
          }
        }

        .Left .Logo {
          left: 38%;
          top: -6px;
        }
      }

      .Top {
        height: 162px;
      }

      .Scroll {
        height: 208px;

        .Left {
          left: 0;
        }
      }

      .Slogan {
        font-size: 14pt;
      }

      .Button {
        font-size: 11pt;
      }
    }

    @media screen and (max-width: 170px) {
      .Button {
        line-height: 24px;
      }
    }
  }
}
