<div class="BodyPanel">
    <div class="Topic Intro" id="IntroPanel">
        <h1><!-- @var project.content.body.intro.header --></h1>
        <p><!-- @var project.content.body.intro.paragraph.0 --></p>
        <p><!-- @var project.content.body.intro.paragraph.1 --></p>
    </div>

    <div class="Topic All" id="ServicesPanel">
        <h2><!-- @var project.content.body.services.header --></h2>

        <div class="Product">
            <div class="Type">
                <span class="Icon Web"></span>
                <h3><!-- @var project.content.body.services.products.web.header --></h3>
            </div>
            <p><!-- @var project.content.body.services.products.web.description --></p>
        </div>

        <div class="Product">
            <div class="Type">
                <span class="Icon App"></span>
                <h3><!-- @var project.content.body.services.products.app.header --></h3>
            </div>
            <p><!-- @var project.content.body.services.products.app.description --></p>
        </div>

        <div class="Product">
            <div class="Type">
                <span class="Icon Help"></span>
                <h3><!-- @var project.content.body.services.products.help.header --></h3>
            </div>
            <p><!-- @var project.content.body.services.products.help.description --></p>
        </div>

        <div class="Product">
            <div class="Type">
                <span class="Icon Automation"></span>
                <h3><!-- @var project.content.body.services.products.automation.header --></h3>
            </div>
            <p><!-- @var project.content.body.services.products.automation.description --></p>
        </div>

        <div class="EndOfTopic"></div>
    </div>

    <div class="Topic Business">
        <h2><!-- @var project.content.body.business.header --></h2>

        <div class="Product">
            <div class="Type">
                <span class="Icon Outsourcing"></span>
                <h3><!-- @var project.content.body.business.products.outsourcing.header --></h3>
            </div>
            <p><!-- @var project.content.body.business.products.outsourcing.description --></p>
        </div>

        <div class="Product">
            <div class="Type">
                <span class="Icon Process"></span>
                <h3><!-- @var project.content.body.business.products.process.header --></h3>
            </div>
            <p><!-- @var project.content.body.business.products.process.description --></p>
        </div>

        <div class="Product">
            <div class="Type">
                <span class="Icon Lecture"></span>
                <h3><!-- @var project.content.body.business.products.lecture.header --></h3>
            </div>
            <p><!-- @var project.content.body.business.products.lecture.description --></p>
        </div>

        <div class="Product">
            <div class="Type">
                <span class="Icon Security"></span>
                <h3><!-- @var project.content.body.business.products.security.header --></h3>
            </div>
            <p><!-- @var project.content.body.business.products.security.description --></p>
        </div>

        <div class="EndOfTopic"></div>
    </div>

    <div class="Topic About" id="AboutUsPanel">
        <h2><!-- @var project.content.body.about.header --></h2>
        <p><!-- @var project.content.body.about.paragraph.0 --></p>
        <p><!-- @var project.content.body.about.paragraph.1 --></p>
        <p><!-- @var project.content.body.about.paragraph.2 --></p>
    </div>

    <div class="Topic SEO" id="SEO">
        <h2><!-- @var project.content.body.seo.header --></h2>
        <p><!-- @var project.content.body.seo.paragraph.0 --></p>
        <div class="Mediatel"></div>
        <p><!-- @var project.content.body.seo.paragraph.1 --></p>
        <div class="Form">
            <div class="Item">
                <div class="Description"><!-- @var project.content.body.seo.form.item.company.title --></div>
                <input id="Company" type="text" placeholder="<? @var project.content.body.seo.form.item.company.hint ?>"/>
            </div>
            <div class="Item">
                <div class="Description"><!-- @var project.content.body.seo.form.item.phone.title --></div>
                <input id="Phone" type="text" placeholder="<? @var project.content.body.seo.form.item.phone.hint ?>"/>
            </div>
            <div class="Item">
                <div class="Description"><!-- @var project.content.body.seo.form.item.email.title --></div>
                <input id="Email" type="text" placeholder="<? @var project.content.body.seo.form.item.email.hint ?>"/><br>
            </div>
            <div class="Item">
                <div class="Description"><!-- @var project.content.body.seo.form.item.address.title --></div>
                <input id="Address" type="text" placeholder="<? @var project.content.body.seo.form.item.address.hint ?>"/>
            </div>
            <div class="Item">
                <div class="Description"><!-- @var project.content.body.seo.form.item.city.title --></div>
                <input id="City" type="text" placeholder="<? @var project.content.body.seo.form.item.city.hint ?>"/>
            </div>
            <div class="Item">
                <div class="Description"><!-- @var project.content.body.seo.form.item.zip.title --></div>
                <input id="ZIP" type="text" placeholder="<? @var project.content.body.seo.form.item.zip.hint ?>"/>
            </div>
            <div class="Spacer"></div>
            <a id="MediatelSend" class="Button" target="_blank" href="https://mediatel.cz/sluzby/sprava-zobrazovani-firmy/uprava-zapisu">
                <!-- @var project.content.body.seo.form.button -->
            </a>
        </div>
    </div>
</div>
