<div class="FooterPanel">
    <div class="Topic" id="ContactPanel">
        <h2><!-- @var project.content.footer.header --></h2>
        <div class="Contact">
            <div class="Item Mail">
                <div class="Icon"></div>
                <div class="Text">
                    <a href="mailto:<? @var project.content.mail ?>"><!-- @var project.content.mail --></a>
                </div>
            </div>
            <div class="Item Phone">
                <div class="Icon"></div>
                <div class="Text"><!-- @var project.content.phone --></div>
            </div>
            <div class="Item INumber">
                <div class="Icon"></div>
                <div class="Text"><!-- @var project.content.footer.ico --></div>
            </div>
            <div class="Item Location">
                <div class="Icon"></div>
                <div class="Text"><!-- @var project.content.footer.address --></div>
            </div>
        </div>
        <div class="QRCode"></div>
    </div>
    <div class="Copyright">
        <div class="Text"><!-- @var project.target.copyright --></div>
        <div class="Box"></div>
    </div>
    <div class="Background"></div>
</div>
