<div id="Header" class="HeaderPanel">
    <div id="Menu" class="Menu">
        <div class="Left">
            <span class="Logo" id="GoToTop"></span>
            <a href="mailto:<? @var project.content.mail ?>"><!-- @var project.content.mail --></a>
            <span><!-- @var project.content.phone --></span>
        </div>
        <div class="Right">
            <a href="#sluzby"><!-- @var project.content.header.menu.services --></a>
            <a href="#kontakt"><!-- @var project.content.header.menu.contact --></a>
            <a href="#o-nas"><!-- @var project.content.header.menu.aboutUs --></a>
        </div>
    </div>
    <div class="Logo"></div>
    <div class="Slogan"><!-- @var project.content.header.slogan --></div>
    <div id="MoreInfo" class="Button"><!-- @var project.content.header.moreInfo --></div>
    <div id="Anime" class="Anime">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
