// * ********************************************************************************************************* *
// *
// * Copyright 2019-2020 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

@font-face {
  font-family: "GalanoGrotesque";
  font-style: normal;
  font-weight: normal;
  src: url("../../../../libs/FontGalanoGrotesque/GalanoGrotesque.otf") format("opentype");
}

@font-face {
  font-family: "GalanoGrotesqueBold";
  font-style: normal;
  font-weight: bold;
  src: url("../../../../libs/FontGalanoGrotesque/GalanoGrotesqueBold.otf") format("opentype");
}

body,
html {
  background-color: $IO_OIDIS_WEB_BLACK;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // sass-lint:disable-block no-important
  color: $IO_OIDIS_WEB_WHITE;
  font-family: "GalanoGrotesque", sans-serif;
  min-height: 100%;
  min-width: 280px;
  overflow: auto !important;

  h1 {
    font-size: 18pt;
  }

  h2 {
    font-size: 15pt;
  }

  h3 {
    color: $IO_OIDIS_WEB_PURPLE_LIGHT;
    font-size: 10pt;
  }

  p {
    font-size: 15pt;
  }

  a {
    color: $IO_OIDIS_WEB_WHITE;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}
